doctype html
html(lang="pt-br")
	head
		title= title
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
		link(rel='manifest' href='/site.webmanifest')
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/select2.min.css')
		link(rel='stylesheet' href='/stylesheets/select2-bootstrap-5-theme.min.css')
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Amaranth&family=Jomhuria&family=Poppins&display=swap" rel="stylesheet")
		script(src="https://kit.fontawesome.com/74290d9b92.js" crossorigin="anonymous") 
		script(src="/javascripts/bootstrap.min.js")  
		script(src="/javascripts/jquery.min.js") 
		script(src="/javascripts/select2.full.min.js") 
		script(src="/javascripts/popper.min.js")
		script(src="/javascripts/functions.js") 
	body.indexes
		.container-fluid.row 
			if successes 
				for success, i in successes 
					div.alert.alert-success#alertindex #{ success }
			h2.text-center#fafes pipokeeper
			div.col-5#titleindex
				img#indeximage(src="undraw_code_thinking_re_gka2.svg" alt="ilustração" fetchpriority="high")
			div.col-5#logindex
				h3.text-center Crie uma conta ou faça login.
					br
					a(href="/signup")
						button.log(type="button") Cadastrar
					a(href="/login")
						button.log(type="button") Login
					h5.text-center#expl 'pipokeeper' é um administrador de senhas.
			footer.text-center
				i.fa-regular.fa-copyright
				span pipocore

