doctype html
html
	head
		title= title
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/select2.css')
		link(rel='stylesheet' href='/stylesheets/select2-bootstrap-5-theme.min.css')
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Amaranth&family=Jomhuria&family=Poppins&display=swap" rel="stylesheet")
		script(src="https://kit.fontawesome.com/74290d9b92.js" crossorigin="anonymous") 
		script(src="/javascripts/bootstrap.min.js")  
		script(src="/javascripts/jquery.min.js") 
		script(src="/javascripts/select2.full.min.js") 
		script(src="/javascripts/popper.min.js")
		script(src="/javascripts/functions.js") 

	body
		div.container-fluid
			div.row.content
				div.col-sm-2.sidenav
					div(class="row flex-nowrap")
						div(class="col-auto col-md-1 px-sm-2 px-0")
							div(class="d-flex flex-column align-items-center align-items-sm-start px-4 pt-3 min-vh-100")
								h2#fafes pipokeeper
								ul.nav.nav-pills.nav-stacked
									block sidebar	
				div.col-sm-9#ot 
					div.col-sm-6#sear
						.well
							block searchbar
					div.col-sm-10.mx-auto.text-center
						.well
							block content