doctype html
html
	head
		title= title
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/select2.css')
		link(rel='stylesheet' href='/stylesheets/select2-bootstrap-5-theme.min.css')
		script(src="https://kit.fontawesome.com/74290d9b92.js" crossorigin="anonymous") 
		script(src="/javascripts/bootstrap.min.js")  
		script(src="/javascripts/jquery.min.js") 
		script(src="/javascripts/select2.full.min.js") 
		script(src="/javascripts/jquery.form.min.js") 
		script(src="/javascripts/popper.min.js")
		script(src="/javascripts/functions.js") 
	body 
		include modals/reset-password