doctype html
html(lang="pt-br")
	head
		title= title
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/select2.css')
		link(rel='stylesheet' href='/stylesheets/select2-bootstrap-5-theme.min.css')
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Amaranth&family=Jomhuria&family=Poppins&display=swap" rel="stylesheet")
		script(src="https://kit.fontawesome.com/74290d9b92.js" crossorigin="anonymous") 
		script(src="/javascripts/bootstrap.min.js")  
		script(src="/javascripts/jquery.min.js") 
		script(src="/javascripts/select2.full.min.js") 
		script(src="/javascripts/popper.min.js")
		script(src="/javascripts/functions.js") 
	body.indexes
		.col 
			h1.text-center.pagetit pipokeeper
		#account-form-container.center-vertical
			div.col-10.mx-auto
				if errors
					for error, i in errors
						div.alert.alert-danger#alertdiv #{ error }
				if successes 
					for success, i in successes 
						div.alert.alert-success#alertdiv #{ success }
				form#account-form(method='post' action='/signup')
					h2.text-center#signtit Cadastrar-se
					.input-group 
						span.input-group-text 
							i.fa-solid.fa-user 
						input.form-control#username(type='text', name='username', required, placeholder='Nome de usuário')
					.input-group
						span.input-group-text
							i.fa-solid.fa-envelope
						input.form-control#email(type='email', name='email', required, placeholder="E-mail" )
					.input-group 
						span.input-group-text
							i.fa-solid.fa-lock 
						input.form-control#password(type='password', name='password', required, minlength="6", placeholder="Senha")
					#row1s
						button(type='submit')#account-form-btn2
							| Cadastrar
						button(type='button').cancellogs Cancelar
					.btm-links 
						#already-registered 
							a(href='/login') Já tenho uma conta



