#get-credentials.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title Recuperar senha
				button.close(type='button', data-bs-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				form(method="post" action="/lostpassword")#get-credentials-form
					.form-group
						input.form-control(type="email", id='email-tf', name="email", required)
						.alert.alert-danger.hide.bs.modal
			.modal-footer
				button(data-bs-dismiss="modal").cancel Cancelar
				button(type="submit" form="get-credentials-form")#retrieve-password-submit Enviar