#set-password.modal
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title Resetar senha
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				form(method="post")#set-password-form
					.form-group
						label Insira sua nova senha 
						input.form-control(type="password", name="password", id='pass-tf', required, minlength="6")
			.modal-footer
				button(type="submit" form="set-password-form")#set-password-submit Enviar